.Input {
    padding: 10px;
    box-sizing: border-box;
    height:25px;
    margin-left:0px;
}


.Label {
    display: inline-block;
    width: 240px;
}

.InputElement {
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    height: 25px;
    box-sizing: border-box;
}
.InputElement:focus {
        outline: none;
        background-color: #ccc;
}

.Invalid {
    border: 1px solid red;
    background-color:salmon;
}
.error {
    color: red;
    margin-left: 240px
}
